h1 Add book
div(ng-controller="addbook")
    div(id="book_preview")
        img(src="/images/moby dick.jpg")
    div(class="form_container")
        label(for="title_input") Book 
            u T
            |itle
        input(type="text" id="title_input" name="title" accesskey="t" placeholder="Moby Dick")