div(ng-controller="allbooks")
    include tradebtns
    h1 All Books
    div(id="status_text" ng-class="{status_text_error : error === true, status_text: error === false}" ng-show="!pollingCompleted || error") {{statusMessage}}
    div(id="book_grid")
        div(ng-repeat="book in books" repeat-done="initTooltips()" class="book")
            img(ng-src="{{book.imgUrl}}" class="bookimg" data-owner="{{book.bookOwner[0].userName}}")
            span(class="tradeicon fa fa-exchange" ng-show="signedIn && book.bookOwner[0].userName !== myUsername && !book.tradePending" data-toggle="tooltip" title="Request Trade" ng-click="tradeBook($event)")
    a(id="prev_button" ng-click="prevPage()" accesskey="<" ng-show="page > 1") 
        u <
        | Prev
    a(id="next_button" ng-click="nextPage()" accesskey=">" ng-show="page < pages && page != pages")
        | Next
        u >