h1 Welcome
div(id="splash_img")
    img(class="img_mw_rwd" src="/images/book-691407_640.jpg")
h2 Welcome to freeBookCamp
div freeBookCamp is a place for bookowners!<br>
    | You can view all books, or, sign in to add a book or propose a trade!