h1 You must be logged in to view this page
br
div Click 
    a(accesskey="s" href="/auth/twitter" id="sign-in" title="Sign in") Sign In
    |&nbsp;to do that
script.
    sessionStorage.setItem("preLoginPage", document.location.hash);
    