div(id="trade_btns_div" ng-show="signedIn")
    button(id="myReqsBtn" type="button")
        span(class="fa fa-user")
        |&nbsp;My trade requests {{nMyReqs}}
    button(id="reqsForMeBtn" type="button") 
        span(class="fa fa-inbox")
        |&nbsp;Requests for me {{nReqsForMe}}